
<title>Internet Backpacks</title>
        	 	<link rel="stylesheet" media="screen" href="./static/bootstrap.min.css">
        	 	<link rel="stylesheet" href="./static/bootstrap-theme.min.css">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container">
<h2>Submit Request</h2>
<form action="" method="post" role="form">
    {{ form.csrf }}
<div class="form-group">
      <label for="name">Type: (URL, search, youtube, or ipfs)</label>
<input type="text" class="form-control" id="name" name="name"
       placeholder="">
 
<label for="email">Value</label>
<input type="text" class="form-control" id="email" name="email"
       placeholder="https://nytimes.com, height of Mt. Everest, etc">
 
<!-- <label for="password">Password:</label> -->
<!-- <input type="password" class="form-control" id="password" name="password" placeholder="Enter a password."> -->
 
</div>
<button type="submit" class="btn btn-success">Submit Request</button>
</form>{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
 
{% for message in messages %}
{% if "Error" not in message[1]: %}
<div class="alert alert-info">
                <strong>Success! </strong> {{ message[1] }}</div>
{% endif %}
 
{% if "Error" in message[1]: %}
<div class="alert alert-warning">
                {{ message[1] }}</div>
{% endif %}
{% endfor %}
{% endif %}
{% endwith %}

<div id="browse_app">

<a <button type="button" class="btn btn-primary"
  href="get-my-request"> Get my Request (need
  receipt)</button></a>

</div>
<h3> Catalog </h3>

<table class="table">
  <thead>
    <tr>
      <!-- <th scope="col">#</th> -->
      <th scope="col">Type</th>
      <th scope="col">Value</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <!-- <th scope="row">1</th> -->
      <td>URL</td>
      <td>https://en.wikipedia.org/wiki/Monty_Python_and_the_Holy_Grail</td>
      <td>Wikipedia Entry for Monty Python and the Holy Grail</td>
    </tr>
    <tr>
      <!-- <th scope="row">2</th> -->
      <td>youtube</td>
      <td>https://www.youtube.com/watch?v=bivXt0hVufk</td>
      <td>NASA Promotional Video on going to the moon</td>
    </tr>
    <tr>
      <!-- <th scope="row">2</th> -->
      <td>search</td>
      <td>C++ Reference Guide 2017</td>
      <td>Get top ten results of "C++ Reference Guide 2017" on Google</td>
    </tr>    
    <tr>
      <!-- <th scope="row">3</th> -->
      <td>URL</td>
      <td>https://www.w3schools.com/js/js_number_methods.asp</td>
      <td>JavaScript Number Reference</td>
    </tr>
  </tbody>
</table>

<h3> User Warnings</h3>
<p>
It is important to understand proper and safe internet usage. For
parents, infromation about how to keep your children safe online can
be found in <A href = "./static/safe-internet-for-kids.pdf"> this article by
  Scholastic</A>. It is important to have discussions with your family
about how much screen time is acceptable. 
</p>
</div>
